@model datacore.resetpasswordviewmodel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گلد آموز</title>
    <link rel="stylesheet" href="~/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="~/data/css/mycssa.css">
    <link rel="stylesheet" href="~/data/css/logincss.css">
</head>

<body class="sec1login">
    <div class="ui mini modal" id="modal1">
        <div class="header txtright">
            ایمیل با موفیت ارسال شد
        </div>
        <div class="content">
            <p class="txtright">لینک بازیابی رمز عبور برای شما ایمیل شد لطفا ایمیل خود را چک کنید</p>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                <a href="/index">صفحه اصلی</a>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui mini modal" id="modal2">
        <div class="header txtright">
            ورود با موفقیت انجام شد
        </div>
        <div class="content">
            <p class="txtright">بعد از چند ثانیه شما به صفحه اصلی هدایت خواهی شد</p>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button">
                <a href="/index">صفحه اصلی</a>
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <h2 class="sec2login">ورود / ثبت نام در گلد آموز</h2>
    <div class="container sec2login" id="container">
        <div class="form-container sign-in-container">
            <form asp-action="resetpasswordb" method="post">
                <h1>رمز جدید را بزنید</h1>
                <input asp-for="activeacount" value="@(Model.activeacount)" class="txtright hidden" type="password"/>
                <input asp-for="userpassword" class="txtright" type="password" placeholder="پسورد" />
                <input asp-for="reuserpassword" class="txtright" type="password" placeholder=" تکرار پسورد" />
                <button>ارسال</button>
                <div asp-validation-summary="All">
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>!خوش برگشتی</h1>
                    <p>برای ارتباط با ما لطفا با اطلاعات شخصی خود وارد شوید</p>
                    <button class="ghost hidden" id="signIn">ورود</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>!سلام رفیق</h1>
                    <p>برای بازیابی پسورد خود لطفا ایمیل خود را وارد کنید تا ما لینک را به ایمیل شما بفرستیم</p>
                    <button class="ghost hidden" id="signUp">ثبت نام</button>
                </div>
            </div>
        </div>
    </div>

    <div class="login-wrap sec3login">
        <div class="login-html txtright">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                                                                     class="tab colorwhite">ایمیل</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab colorwhite hidden">ثبت نام</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form asp-action="resetpasswordb" method="post" class="formlogin">
                        <div class="group">
                            <label for="pass" class="label hidden">پسورد</label>
                            <input asp-for="activeacount" type="password" value="@(Model.activeacount)" class="input hidden" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">پسورد</label>
                            <input asp-for="userpassword" type="password" class="input" data-type="password">
                        </div>

                        <div class="group">
                            <label for="pass" class="label">تکرار پسورد</label>
                            <input asp-for="reuserpassword" class="input" data-type="password" type="password" />
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="ارسال">
                        </div>
                        <div asp-validation-summary="All">

                        </div>
                        <div class="hr"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="~/data/js/loginhs.js"></script>
    <script src="~/data/js/jquery-3.3.1.min.js"></script>
    <script src="~/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="~/data/js/myjs.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    @if (ViewBag.login == 1)
    {
        <script>
            $('#modal1')
                .modal('show')
                ;
            // Your delay in milliseconds
            var delay = 6000;
            setTimeout(function () { window.location = "/index"; }, delay);
        </script>
    }
    @if (ViewBag.login == 2)
    {
        <script>
            $('#modal2')
                .modal('show')
                ;
            // Your delay in milliseconds
            var delay = 4000;
            setTimeout(function () { window.location = "/index"; }, delay);
        </script>
    }
</body>

</html>