@{
    ViewData["Title"] = "سوالات من";
}
@section css{
    <link rel="stylesheet" href="~/data/css/cssuserpanela.css">
}
<section class="ui container sec2userpanel">
    <div class="ui grid">
        <div class="col3">
            <div class="kenariconcol9 floatleft">
                <h2 class="txtright marginnone">0</h2>
                <h4 class="txtright marginnone">دوره های من</h4>
            </div>
            <div class="iconlol3 float_right">
                <i class="huge graduation cap icon card cardicon"></i>
            </div>
        </div>
        <div class="col3">
            <div class="kenariconcol9 floatleft">
                <h2 class="txtright marginnone">0</h2>
                <h4 class="txtright marginnone">کیف پول من</h4>
            </div>
            <div class="iconlol3 float_right">
                <i class="huge credit card icon cardicon"></i>
            </div>
        </div>
        <div class="col3">
            <div class="kenariconcol9 floatleft">
                <h2 class="txtright marginnone">آمیرحسین فرخنده فر</h2>
                <h4 class="txtright marginnone">دانشجو</h4>
            </div>
            <div class="iconlol3 float_right">
                <i class="huge user icon card cardicon"></i>
            </div>
        </div>
        <div class="col42 right">
            <div class="ui vertical fluid right menu">
                <a class="item txtright active">
                    دوره های من
                </a>
                <a class="item txtright">
                    فاکتور ها
                </a>
                <a class="item txtright">
                    سوالات من
                </a>
                <a class="item txtright">
                    پاسخ های من
                </a>
                <a class="item txtright activemenukenar">
                    تیکت های من
                </a>
                @if (ViewBag.isteacher)
                {
                    <a href="doreadmin/@(User.Identity.Name)" class="item txtright">
                        پنل دوره های من
                    </a>
                }
                <a class="item txtright">
                    خروج از حساب کاربری
                </a>
            </div>
        </div>
        <div class="col12 stretched column">
            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th class="txtcenter">تاریخ</th>
                        <th class="txtcenter">تعداد پاسخ</th>
                        <th class="txtcenter">وضعیت</th>
                        <th class="txtcenter">عنوان تیکت</th>
                    </tr>
                    <tr>
                        <td class="txtcenter">1399/05/13</td>
                        <td class="txtcenter">1</td>
                        <td class="txtcenter colorgreen">پاسخ داده شده</td>
                        <td class="txtcenter"><a>دانلود اندوروید استودیو</a></td>
                    </tr>
                    <tr>
                        <td class="txtcenter">1399/02/01</td>
                        <td class="txtcenter">1</td>
                        <td class="txtcenter colorgreen">پاسخ داده شده</td>
                        <td class="txtcenter"><a>استفاده از میکروفن و وب کم</a></td>
                    </tr>
                    <tr>
                        <td class="txtcenter">1399/02/01</td>
                        <td class="txtcenter">1</td>
                        <td class="txtcenter colonavy">درحال بررسی</td>
                        <td class="txtcenter"><a>code first یا dbfirst</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col4 right">
            <div class="ui vertical fluid right menu">
                <a class="item txtright active">
                    دوره های من
                </a>
                <a class="item txtright">
                    فاکتور ها
                </a>
                <a class="item txtright">
                    سوالات من
                </a>
                <a class="item txtright">
                    پاسخ های من
                </a>
                <a class="item txtright activemenukenar">
                    تیکت های من
                </a>
                @if (ViewBag.isteacher)
                {
                    <a href="doreadmin/@(User.Identity.Name)" class="item txtright">
                        پنل دوره های من
                    </a>
                }
                <a class="item txtright">
                    خروج از حساب کاربری
                </a>
            </div>
        </div>
    </div>
</section>